@{
    ViewData["Title"] = "Project List Page";
}

<div class="row">
    <div class="col-md-3">
        <table>
            <tr><td>Project Title </td><td>Phase</td><td>Date Last Modified</td><td>Due Date</td><td>Responsible Engineer</td></tr>
            <tr><td>Solar Power Project</td><td>Macro Design</td><td>11/30/2015</td><td>2/15/2016</td><td>Amy Adams</td></tr>
            <tr><td>eBusiness Website</td><td>Macro Design</td><td>10/30/2015</td><td>2/25/2016</td><td>Connie Charles</td></tr>
        </table>
    </div>
</div>
