
<!--change breadcrumb features --> 
<style>
 .breadcrumbColor {
     background-color:#f0f0f0;
     border-color:rgba(0, 0, 0, 0.44);
     border-width:20px;
      border-radius: 14px;   
}
</style>

<ol class="breadcrumb  breadcrumbColor " >
    <li> <a href="#DashboardCtrl">Verticals</a></li>
    <li class="active"> {{ vName }}</li>
    
</ol>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#ProjectList/0" class="thumbnail"><span class="badge">51</span>
            <img src=".../.../.../.../Content/Images/Warehouse.png" alt="Warehouse solutions">
        </a>
    </div>
   
     <div class="col-xs-6 col-md-3">
        <a href="#ProjectList/1" class="thumbnail">
            <img src=".../.../.../.../Content/Images/Merchandising.png" alt="Merchandising solutions">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#ProjectList/2" class="thumbnail"><span class="badge"></span>
            <img src=".../.../.../.../Content/Images/Merchandising.png"  alt="Membership solutions">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#ProjectList/3" class="thumbnail">
            <img src=".../.../.../.../Content/Images/Merchandising.png"  alt="Distribution solutions">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#ProjectList/4" class="thumbnail">
            <img src=".../.../.../.../Content/Images/Merchandising.png"  alt="International solutions">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#ProjectList/5" class="thumbnail">
            <img src=".../.../.../.../Content/Images/Merchandising.png"  alt="Ancillary solutions">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#ProjectList/6" class="thumbnail">
            <img src=".../.../.../.../Content/Images/Merchandising.png" alt="eBusines solutions">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#ProjectList/7" class="thumbnail">
            <img src=".../.../.../.../Content/Images/Merchandising.png" alt="Corporate Solutions">
        </a>
    </div>


</div>







<!--<div>
   
        <style>
            .floating-box {
                float: left;
                width: 150px;
                height: 75px;
                margin: 10px;
                border: 3px solid #000000;
            }
        </style>

        <h2>Verticals</h2>
        <div class="floating-box"><a href='#ProjectList/0'> Warehouse Solutions </a></div>
        <div class="floating-box"><a href="#ProjectList/1" > Merchandising Solutions</a></div>
        <div class="floating-box"><a href="#ProjectList/2">Membership Solutions</a> </div>
        <div class="floating-box"><a href="#ProjectList/3">Distribution Solutions</a> </div>
        <div class="floating-box"><a href="#ProjectList/4">International Solutions</a> </div>
        <div class="floating-box"><a href="#ProjectList/5">Ancillary Solutions</a> </div>
        <div class="floating-box"><a href="#ProjectList/6">eBusines Solutions</a> </div>
        <div class="floating-box"><a href="#ProjectList/7">Corporate Solutions</a> </div>
 
</div>-->

















