<!--<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src=".../.../.../.../Content/Images/Warehouse.png" width="319" height="423" alt="Warehouse solutions">
        </a>
    </div>
</div>-->


<div>
   
        <style>
            .floating-box {
                float: left;
                width: 150px;
                height: 75px;
                margin: 10px;
                border: 3px solid #000000;
            }
        </style>
   
    

        <h2>Verticals</h2>

        <div class="floating-box">Warehouse Solutions</div>
        <div class="floating-box">Merchandising Solutions</div>
        <div class="floating-box">Membership Solutions</div>
        <div class="floating-box">Distribution Solutions</div>
        <div class="floating-box">International Solutions</div>
        <div class="floating-box">Ancillary Solutions</div>
        <div class="floating-box">eBusines Solutions</div>
        <div class="floating-box">Corporate Solutions</div>
 
</div>
