<div> <a href="#DashboardCtrl">Dashboard</a> > {{ vName }}</div>
<div>
    <div>
        <table width="70%"><tr><td>Project Name</td><td>Date</td></tr></table>
    </div>
</div>
<div ng-repeat="project in projectList">
    <div ng-if="vId == project.VerticalID">
        <table width="100%">
            <tr>
                <td><a href="#ProjectUpdates/{{project.ProjectID}}">{{project.ProjectID}}</a></td>
                <td>{{ project.LatestUpdate }}</td>
            </tr>
        </table>


    </div>
</div>
