<ol class="breadcrumb">
    <li>
        <a href="#DashboardCtrl">Dashboard</a>
    </li>
    <li><a href="#ProjectList/{{ vId }}">{{ vName }}</a>
    </li>
    <li>
        <a href="#ProjectUpdates/{{pId}}/{{ pName}}">{{ pName }}</a>
    </li>
    <li class="active">Email ID: {{ dataExtractionId }}</li>
</ol> 
<br />
<div border =1px >
    <table width="50%">
        <tr>
            <td>Project Name:</td>
            <td> {{ pName }}</td>
        </tr>
        <tr>
            <td>Phase:</td>
            <td>{{ phase }}</td>
        </tr>
        <tr>
            <td>Date Received:</td>
            <td> {{ date}}</td>
        </tr>
        <tr>
            <td colspan="2"><br /></td>
        </tr>
        <tr ng-repeat="statusUpdate in statusUpdateList">
            <td>{{ statusUpdate.UpdateKey }}:</td>
            <td>{{ statusUpdate.UpdateValue }}</td>
        </tr>
    </table>
</div>