<ol class="breadcrumb">
    <li> <a href="#DashboardCtrl">Dashboard</a></li>
    <li class="active"> {{ vName }}</li>
    </ol>
<h2>{{ vName }} Projects: </h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a ng-click="sortType= 'projName'; sortReverse = !sortReverse">
                    Project Name
                    <span ng-show="sortType == 'projName' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'projName' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <!--<a ng-click="sortType= 'projDate'; sortReverse = !sortReverse">-->
                    <span ng-show="sortType == 'projDate'" class="fa fa-caret-down"></span>
                    Date
                <!--</a>-->
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="project in projectList | orderBy:sortType:sortReverse">
            <td>
                <a href="#ProjectUpdates/{{project.ProjectID}}">
                    {{project.ProjectID}}
                </a>
            </td>
            <td>{{ project.LatestUpdate | date:'short'  }}</td>
        </tr>
    </tbody>
</table>
