<div> <a href="#DashboardCtrl">Dashboard</a> > <a href="#ProjectList/{{ vId }}">{{ vName }}</a> > <a href="#ProjectUpdates/{{pId}}">{{ pId }}</a> > Email ID: {{ dataExtractionId }}</div>
<br />
<div border =1px >
    <table width="50%">
        <tr>
            <td>Project Name:</td>
            <td> {{ pId }}</td>
        </tr>
        <tr>
            <td>Phase:</td>
            <td>{{ phase }}</td>
        </tr>
        <tr>
            <td>Date Received:</td>
            <td> {{ date}}</td>
        </tr>
        <tr>
            <td colspan="2"><br /></td>
        </tr>
        <tr ng-repeat="statusUpdate in statusUpdateList">
            <td>{{ statusUpdate.UpdateKey }}:</td>
            <td>{{ statusUpdate.UpdateValue }}</td>
        </tr>
    </table>
</div>