@{
    ViewBag.Title = "Project List Page";
    ViewBag.InitModule = "projectList";
}
@section Scripts {
    <script src="~/js/app.js"></script>
    <script src="~/js/project-List.js"></script>

    <script>alert("hello world 2!");</script>
}

<div ng-app="app" ng-controller="projectListController">

    {{ name }}
</div>